
* {
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
}

nav {
	display: block;
	padding-top: 1rem;
	background-color: #dcf2f0;
	border: 0.2em solid #3399F3;
}

main {
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 60px 60px;
	grid-gap: 6%;
	margin-right: 70%;
	margin-top: 1%;
	padding: 10px;
	border: 0.2em solid #3399F3;
	background-color: #dcf2f0;
}

hr { 
    display: block;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.headline {
	
	font-size: 3rem;
	width: 40%;
	max-height: 100px;
	margin-left: 2%;
}

.lowerNavPart {
	
	height: 30%;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	padding-right: 10%;
}

.newsTab {
	
	margin-left: 3%;
}

.priceTab {
	
}

.tab {
	
	border: 0.2em solid #446E9B;
	border-radius: 6px;
	text-align: center;
	font-size: 1.5rem;
	background-color: #3399F3;
	color: white;
	padding: 5px;
	min-width: 100px;
	height: 50%;
}

.priceBox {
	
	background-color: white;
	border: 0.2em solid #3399F3;
}

.coinName {
	
	text-align: center;
	font-size: 1.2rem;
}

.priceInE {
	
	text-align: center;
	font-size: 1.2rem;
}


@media screen and (max-width: 1200px) {
	
	.headline {
		font-size: 2rem;
	}
}




















