
* {
	box-sizing: border-box;
	margin: 0;
}

html {
	box-sizing: border-box;
	margin: 0;
}

nav {
	display: block;
	padding-top: 1rem;
	background-color: #dcf2f0;
	border: 0.2em solid #3399F3;
	width: 100%;
}

hr { 
    display: block;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.priceMain {
	
	display: grid;
	grid-template-columns: 6rem 6rem 6rem;
	grid-template-rows: 4rem 4rem;
	grid-gap: 6%;
	padding: 0.5rem;
	border: 0.2em solid #3399F3;
	background-color: #dcf2f0;
	justify-content: space-evenly;
}


.mainContainer {
	
	margin-top: 0.5%;
	margin-left: 0.3%;
	display: flex;
}

.headline {
	
	font-size: 3rem;
	width: 40%;
	max-height: 100px;
	margin-left: 2%;
}

.lowerNavPart {
	
	height: 30%;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	padding-right: 10%;
}


.tab {
	
	border: 0.2em solid #446E9B;
	border-radius: 6px;
	text-align: center;
	font-size: 1.5rem;
	background-color: #3399F3;
	color: white;
	padding: 5px;
	min-width: 100px;
	height: 50%;
}

.newsTab {
	
	margin-left: 3%;
}

.priceTab {
	
}

.priceBox {
	
	background-color: white;
	border: 0.2em solid #3399F3;
}

.coinName {
	
	text-align: center;
	font-size: 1.2rem;
	background-color: #e3e7ed;
}

.priceInE {
	
	text-align: center;
	font-size: 1.2rem;
}

.newsMain {
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 1%;
	margin: 0.3%;
	padding: 0.5rem;
	border: 0.2em solid #3399F3;
	background-color: #dcf2f0;
	align-content: space-evenly;	
	justify-content: space-evenly;
}


.newsBox {
	
	background-color: white;
	border: 0.2em solid #3399F3;
}

.newsTitle {
	
	padding: 0.5rem;
	font-size: 1.2rem;
	height: 5rem;
	background-color: #e3e7ed;
}

.newsBlurb {
	
	padding: 0.5rem;
	height: 20rem;
}

.postTime {
	
	padding: 0.5rem;
	background-color: #e3e7ed;
}


@media screen and (max-width: 1200px) {
	
	.headline {
		font-size: 2rem;
	}
	
	.coinName, .priceInE {
		
		font-size: 1rem;
	}
	
	.newsMain {
		
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	
}

@media screen and (max-width: 600px) {
	
	.headline {
		font-size: 0.9rem;
	}
	
	.tab {
		font-size: 0.7rem;
		min-width: 50px;
		border: 0.1em solid #446E9B;
	}
	
	.newsMain {
	
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	.newsBlurb {
	
		padding: 0.5rem;
		height: 28rem;
		font-size: 0.8rem;
	}
	
	.newsTitle {
	
		padding: 0.5rem;
		font-size: 0.9rem;
		height: 8.5rem;
	}
	
	.postTime {
		
		font-size: 0.8rem;
	}
	
}
